{% extends "base.html" %}
{% block content %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<div>
    <h1>Frequently Asked Questions</h1>
    <br>
    {% for faq in question_answer %}
    <div class="card " style="border-radius: 5px;">
        <div class="card-header" style="background-color: #DFD8D8; border-top-left-radius: 5px; border-top-right-radius: 5px;">
            {{faq.question}}
        </div>
        <div class="card-body">
            {{faq.answer | safe}}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}