{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <title>Student Profile</title>
</head>
<style>
    body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

</style>
<body>
    <br><br>
    <div class="container rounded bg-white">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center">
                    {% if userprofile.google_picture %}
                    <img class="rounded-circle mt-5" width="150px"
                        src="{{userprofile.google_picture}}">
                    {% else %}
                    <img class="rounded-circle mt-5" width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    {% endif %}
                        <!-- <span class="font-weight-bold">Edogaru</span> -->
                        
                        <span class="text-black-50">{{user.email}}</span>
                </div>
            </div>
            <div class="col border-right">
                <form method="post" action="{% url 'student_profile' %}">
                    {% csrf_token %}
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Create Your Student Profile</h4>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 mt-2">
                                <label class="">Full Name</label>
                                <input type="text" class="form-control"
                                    placeholder="Name" name="name" value="{{user.first_name}} {{user.last_name}}" required>
                            </div>
                            <div class="col-md-12 mt-4">
                                <label class="">Prepared From</label>
                                <input type="text" class="form-control"
                                    placeholder="eg: Rahmani 30 Bangalore" name="prepared_from" value="" required>
                            </div>
                            <div class="col-md-12 mt-4">
                                <label class="">Rank</label>
                                <input type="text" class="form-control" placeholder="Include category rank if any" value="" name="rank" required>
                            </div>
                            <div class="col-md-12 mt-4">
                                <label class="">Counselling details</label>
                                <textarea class="form-control" placeholder="Describe Colleges you're getting based on your research & the confusions that you have and all other questions that you want answer of" name="description" rows="4" required></textarea>
                            </div>
                        </div>
                    
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Create
                                Profile</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>