<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>



    <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>

    <style>
        body {
            min-height: 100vh;
            background: lightblue;
        }
    </style>
</head>

<body>
    <div class="row m-2 justify-content-end">
        <div class="">
            <a class="btn btn-outline-info" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
    <div class="container">
        <br><br><br><br><br><br>
        <div class="card">
            <div class="card-header">
                Hello {{user.first_name}} {{user.last_name}},
            </div>
            <div class="card-body">
                <h5 class="card-title">You wish to</h5>
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <a href="{% url 'student_profile' %}" class="col-lg-6 col-md-6 col-sm-12" style="text-decoration: none;">
                                    <div class="card text-center" style="background-color: #264252; cursor: pointer">
                                        <div class="card-body text-white">
                                            <div class="d-flex flex-row">
                                                <div class="align-self-center display-6"><i class="ti-marker"></i></div>
                                                <div class="p-2 align-self-center text-center">
                                                    <h4 class="mb-0">Join as Student</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm">
                                <a href="{% url 'counsellor_profile' %}" class="col-lg-6 col-md-6 col-sm-12" style="text-decoration: none;">
                                    <div class="card" style="background-color: #264252; cursor: pointer">
                                        <div class="card-body text-white">
                                            <div class="d-flex flex-row">
                                                <div class="align-self-center display-6"><i class="ti-user"></i></div>
                                                <div class="p-2 align-self-center">
                                                    <h4 class="mb-0">Join as Counsellor</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>